<p>Add Task</p>

<form method="post" id="create-task-form-<%= column_id %>">
  <input type="hidden" name="column" value="<%= column_id %>" />
  <label for="title">Task title:</label><br />
  <input type="text" name="title" /><br />
  <label for="title">Task description:</label><br />
  <textarea name="description"></textarea><br />
  <button type="submit">Add</button>
</form>

<button onclick="">Cancel</button>
