<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Study</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include("./partials/header") %> <%- include("./partials/navbar") %>

    <h1>About</h1>
    <p>Lorem Ipsum dolor sit amet.</p>

    <%- include("./partials/footer") %>
  </body>
</html>
